**/cache/*
**/dist/*
**/lib/*
**/node_modules/*
node_modules/*
.DS_Store
**/.vscode/*
**/.env.production/*
**/.env.development/*

coverage

devops/env.json
devops/creds.json

applications/integration/data/gnaf_pipeseparatedvalue.zip
applications/integration/data/gnaf_pipeseparatedvalue
applications/integration/data/emergency-warning-archive
applications/integration/data/emergency-warning-archive/
applications/integration/data/lapi

jest.json

*.env
*.env.local
*.log
*.swp

applications/load-tester/logs/*
applications/integration/.localstack/logs/localstack_infra.err
