.chartWindow {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1rem;
  gap: 0.5rem;
  height: 60vh;
}

.inputArea {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}
